<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DressLink.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1828DF7C1BD6195800C5778F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1828DF951BD6195A00C5778F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1828DFA01BD6195A00C5778F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
